<h2>Contact</h2>

<form action='/contact/send-message' method='POST' {{!-- enctype='multipart/form-data --}}'>
<div class='isSent'>
  {{#if isSent}}
  "The message has been sent bro!
  File  {{ imageName }} has been saved!"
  {{/if}}
</div>
<div class='isError'>
  {{#if isError}}
  "You must fill empty fields to send message!"
  {{/if}}
</div>
  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
  <label>
    Project design: <input type="file" accept="image/jpeg,image/jpg,image/gif,image/png" name="loader">
  </label>
   <label>
    Message: <textarea name="message"></textarea>
  </label>
  <button type="submit">Send message</button>
</form>